<div>
  <div class="artist-info mt-2 mb-3 py-5 ml-4">
      <div class="artist-details">
        <h3><%= @artist.name %></h3>
        <p><%= @artist.location %> | <%=@artist.followers.to_s(:delimited) %> Followers</p>
      </div>
    </div>
    <div class="artist-img">
      <%= cl_image_tag @artist.photo.key %>
    </div>
  </div>
    <% @posts.each do |post|%>
    <%  if post.source == "Songkick" %>
    <%= render "shared/songkick_card", post:post%>
    <% else %>
    <div class="artist-post">
      <%= render "shared/feed_card", post:post%>
    </div>
      <% end %>
    <% end %>
</div>
