<div class="universal-card" data-artist=<%= artist.id %>>
    <div class="artist-card">
      <% if artist.photo %>
        <%= cl_image_tag artist.photo.key %>
      <% end %>
      <h3 class="artist-card-text"><%= artist.name %></h3>
      <% if current_user.is_following?(artist.id) %>
        <%= link_to "Unfollow", unfollow_artist_path(artist.id), method: :post, remote: true, :class => "btn-follow" %>
      <% else %>
        <%= link_to "Follow", follow_artist_path(artist.id), method: :post, remote: true, :class => "btn-follow"%>
      <% end %>

    </div>
</div>
