<div class="universal-card feed-card">
  <div class="post-title">
    <% if post.artist.photo %>
      <%= link_to artist_path(post.artist) do %>
        <%= cl_image_tag post.artist.photo.key, class: "feed-avatar"%>
      <% end %>
    <h3><%= post.artist.name %> posted on <span style="color:#1777f2"><%= post.source %></span></h3>
    <% end %>
  </div>
  <% if post.contents %>
    <iframe width="100%" height="179" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= post.contents[0].data %>&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
    </iframe>
  <% end %>
  <div class="card-share">
    <i class="fal fa-retweet"></i>
    <i class="fal fa-heart"></i>
  </div>
</div>


