<!DOCTYPE html>
<html>
  <head>
    <title>Wave - One app for all your music artists' content</title>
    <meta name="description" content="Use Wave to follow all content from your favorite music artists in one app.">
    <meta charset="utf-8">
    <meta property="og:title" content="Wave - One app for all your music artists' content">
    <meta property="og:image" content="wave-fb">
    <meta property="og:description" content="Use Wave to follow all content from your favorite music artists in one app.">
    <meta property="og:site_name" content="Wave"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/header' unless current_page?(root_path) %>
    <%= render 'shared/flashes' %>

    <div class="app-height"><%= yield %></div>
    <%= render 'shared/footer' unless current_page?(root_path) %>
  </body>
</html>
